# Исключение виртуального окружения
.venv/
.env
# Исключение скомпилированных файлов Python
__pycache__/
*.py[cod]
# Исключение кэша тестов
.pytest_cache/
# Исключение артефактов сборки
dist/
build/
# Исключение файлов покрытия тестов
.coverage
coverage.xml
# Исключение временных файлов редакторов
*.swp
*.swo
*~
*.bak
*.tmp
# Исключение логов и временных файлов
*.log
*.out
*.tmp
# Исключение файлов конфигурации IDE
.idea/
.vscode/
# Исключение каст-файлов (если они не нужны)
demo.cast